<ion-header class="pop" [translucent]="false">
  <ion-toolbar class="pop" >
    <ion-item id="header" class="pop">
      <ion-icon name="person-circle-outline" (click)="irPerfil()" class="perfil"></ion-icon>
      <h3> IUMACO </h3> 
      <div id="logo"><img src="../../assets/sena.png" class="logo"></div>
      <div class="custom-button" slot="end">
        <ion-button fill="clear"  class="botonsesion"  (click)="volver()">Inicio</ion-button>
        <ion-button fill="clear" class="botonsesion"   (click)="confirmarSalida()">Cerrar sesión</ion-button>
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="centered-container">
  <br>
  
  <div id="formulario">
    
    <ion-row>

      <ion-col>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ion-card class="uno" (click)="llamadoAtencion()" >
          <ion-icon name="thumbs-down-outline" id="icon2"></ion-icon>
          <h4>Llamado de Atencion </h4>        
        </ion-card>
        <ion-card class="uno" (click)="citacionComite()">
          <ion-icon name="reader-outline" id="icon3"></ion-icon>
          <h4>Solicitud para comite</h4>
        </ion-card>
        <ion-card class="uno"(click)="cambiarEstadoF()" *ngIf="historialFelicitar !== true">
          <ion-icon name="list-outline"></ion-icon>
          <h4>Historial de Felicitación </h4>
        </ion-card>
        <ion-card class="uno"(click)="cambiarEstadoF()" *ngIf="historialFelicitar === true">
          <ion-icon  name="ribbon-outline" id="icon1"></ion-icon>
          <h4>Formulario Felicitación</h4>
        </ion-card>
      </ion-col>
      
      <ion-col size="8" class="fecha">
        <div class="center">
          <h2>Datos del Instructor</h2>
        </div>
        <br>
        <br>
          <ion-row>
            <ion-col size="6">
              <ion-label>Nombre completo</ion-label>
              <ion-input  class="cuatro" ></ion-input>
            </ion-col>
            <ion-col size="2">
              <ion-label>Tipo.Doc</ion-label>
              <ion-input  class="cuatro"  ></ion-input>
            </ion-col>
            <ion-col size="4">
              <ion-label>Documento</ion-label>
              <ion-input class="cuatro"  ></ion-input>
            </ion-col>
          </ion-row>
          <br>
          
          <ion-row>
            <ion-col>
              <ion-label>Email</ion-label>
              <ion-input  class="cuatro"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label>Estado</ion-label>
              <ion-input  class="cuatro"></ion-input>
            </ion-col>
          </ion-row>
          <br>
          <br>
          <br>
        <div class="center">
          <h2>Formulario de Felicitación</h2>
        </div>
        <br>
        <br>

          <div *ngIf="historialFelicitar === true" class="cuadro">
            
            <ion-item *ngIf="gHistorialFelicitar.lenght < 1">
              <p>Sin Felicitaciones</p>
            </ion-item>
            
            <ion-card  *ngFor="let F of gHistorialFelicitar" >
              <ion-item>
                <P slot="start">Id del aprendiz:{{F.aprendizFK}}</P>
                <P slot="end">Fecha: {{F.fecha}}</P>
              </ion-item> 
              <ion-item>
                Nota: {{F.nota}}
              </ion-item>
            </ion-card>
          </div>
      
          <form method="POST" *ngIf="historialFelicitar !== true">
              <ion-row>
                <ion-col>
                  <ion-label for="fichas">Fichas</ion-label>
                  <ion-item class="cuatru">
                    <ion-select [(ngModel)]="fichaSeleccionada" name="fichaSeleccionada" (ionChange)="filtrarDestinatarios()">
                      <ion-select-option *ngFor="let ficha of fichasUnicas" [value]="ficha">{{ ficha }}</ion-select-option>
                    </ion-select>
                  </ion-item><br>
                </ion-col>
                <ion-col>
                  <ion-label for="destinatario">Aprendiz</ion-label>
                  <ion-item class="cuatru">
                    <ion-select id="destinatario" [(ngModel)]="destinatario" name="destinatario" multiple="false" (ionChange)="informacionAprendiz()">
                      <ion-select-option *ngFor="let destinatario of destinatarios" [value]="destinatario.email">{{ destinatario }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-label>Nota</ion-label>  
            <ion-item class="cuatru">
              <ion-textarea [(ngModel)]="nota" id="nota" name="nota" rows="4" cols="40"></ion-textarea>
            </ion-item><br><br>        
    
            <input type="submit" value="Guardar y Enviar" (click)="enviarCorreo()">
          </form>
          
        
      </ion-col>

      
    </ion-row>
  </div>


</ion-content>